<div class="w-full bg-gray-50">
  <div class="max-w-4xl h-full mx-auto">
    <div class="w-full py-4 flex justify-center">
      <div class="w-full mt-10 py-4 flex justify-between">
        <input
          class="w-3/4 bg-gray-200 shadow-md py-2 pl-4 rounded-full"
          placeholder="Search"
        />
        <div
          class="bg-blue-500 cursor-pointer text-white font-medium px-2 py-2 rounded shadow-sm hover:shadow-md w-28 flex justify-center"
          (click)="showModal()"
        >
          Add book
        </div>
      </div>
    </div>
    <div class="w-full mt-10 bg-transparent flex flex-wrap">
      <app-book
        *ngFor="let book of books"
        [book]="book"
        (showDetails)="showDetailsModal()"
        (selectedBook)="setSelectedBook($event)"
      ></app-book>
    </div>
  </div>
</div>

<app-add-book-modal
  *ngIf="showAddBookModal"
  [authorsList]="authors"
  (closeModal)="closeModal($event)"
></app-add-book-modal>
<app-book-details-modal
  [book]="selectedBook"
  *ngIf="showBookDetailsModal"
  [authorsList]="authors"
  (closeModal)="closeDetailsModal($event)"
></app-book-details-modal>
